<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>zonepopupnewsletter</name>
    <displayName><![CDATA[Z.One - Popup Newsletter]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Displays a popup newsletter when page load.]]></description>
    <author><![CDATA[Mr.ZOne]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>