.radio-inline-block .radio {
	display: inline-block;
	margin-right: 10px;
}
.defaultForm {
	clear: both;
}
.bootstrap.panel {
    clear: both;
}
.img-thumbnail {
	max-width: 100%;
}
#tabList #advice-16 {
	display: none;
}
.fixed-width-30 {
	width: 30%;
}
.fixed-width-20 {
	width: 20%;
}
.bootstrap .form-group {
	margin-bottom: 20px;
}
.bootstrap .form-group .form-group {
	margin-bottom: 0;
}
.bootstrap .prestashop-switch {
	margin-top: 0;
}